/***************************************
**************** global ****************
****************************************/

body {
  background: #e2e2e2;
}

.cover {
  background: url('../img/greentronics_bkgd-lg.jpg') no-repeat left center fixed;
 height: 100%; */
  opacity: .95;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: auto;
}

.cover h1 {
  color: #fff;
  font-size: 6.75em;
  text-shadow: 0 0 3px #333;
}
h3 {
  font-weight: normal;
  line-height: 1.5em;
}

.h1small {
  font-size: .6em;
}

.message {
  position: absolute;
  bottom: 10px;
}

iframe {
  border: 1px solid #999;
  margin: 5px;
}

.link-bar {
  background: rgb(0,0,0);
  background: rgba(0,0,0,.65);
  padding: 20px;
  margin: 15px -15px 0;
}

.link-bar a {
  margin: 0 5px;
}
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 

/***************************************
******** Bootstrap Killers *************
****************************************/

.cover .row {
  margin: 0;
}

a {
  
}

a:hover {
  
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-outline-inverse:hover {
  color: #333;
  text-shadow: none;
  background-color: #fff;
}

/***************************************
**************** header ****************
****************************************/

.header-logo {
  margin: 3em 6em;
}

/***************************************
**************** index ****************
****************************************/

.farmers, .potato-farmers, .agri-retailers, .advertise, .release {
  padding: 75px 0;
}

.farmers, .agri-retailers, .advertise {
  color: #fff;
}

.advertise {
  background: #333;
}

.farmers {
  background: #333;
  color: #fff;
}

.agri-retailers {
  background: #00a651;
}

.advertise .btn-outline-inverse {
  display: block;
  margin-bottom: 25px;
}
  
.release, .info, .thankyou {
  background: #efefef;
}

.info, .thankyou {
  background: #efefef;
  min-height: 350px;
}

.footer {
  color: #fff;
  background: #222;
  padding: 25px;
}

.footer-logo {
  margin-top: 15px;
}

.copyright {
  font-size: .75em;
}

.footer .copyright {
  margin-top: 25px;
  text-align: center;
  color: #555;
  font-weight: bold;
}

.advertise img {
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
}
.farmers img {
  border: 3px solid #00a651;
}
.agri-retailers img {
  border: 3px solid #fff;
}
.img-caption {
  padding-top: 1em;
}
/***************************************
**************** sections ****************
****************************************/



section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
  background: url('../img/potato-field-640x640.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
  background: url('../img/agri-retailer-640x640.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/***************************************
************** responsive **************
****************************************/


@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5.35em !important;
    text-align: center;
  }
   .farmers img {
    margin-top: 25px;
  }

  
}

@media screen and (max-width: 480px) {

  .header-logo {
    margin: 5%;
    max-width: 80%;
  }
  
  h1 {
    font-size: 2em !important;
    text-align: center;
  }
  
  h2 {
    font-size: 1.8em;
    text-align: center;
  }
  
  h3 {
    font-size: 1.25em;
    line-height: 1.25;
  }
  
  iframe {
    max-width: 250px;
  }
  
  .farmers, .potato-farmers, .agri-retailers, .advertise, .release {
    padding: 25px 0;
  }
  
  .advertise img {
    margin-top: 25px;
  }
  
  .btn-outline-inverse {
    display: block;
  }
  .farmers img {
    margin-top: 25px;
  }
  
}


